Remember, list comprehensions when we first learned them followed the form

`[expression for element in source_list]`

But there's an optional section we can add at the end to filter based on a conditional expression

`[expression for element in source_list if filter_expression]`

For example, if we have a list of dogs with their name, age, and weight, and we want to see only the large dogs, we could write

`[dog for dog in dogs if dog['weight'] > 30]`

Here, 
* the first `dog` is the _expression_
* the second `dog` is the _element_
* `dogs` is the <i>source_list</i>
* `dog['weight'] > 30` is the <i>filter_expression</i>

Note that we can use the _element_ in our filter expression

In [7]:
def compute(index):
    a = index + 2
    b = index + 4
    return a*b

In [8]:
some_list = [compute(output) for output in range(20)]
some_list

[8,
 15,
 24,
 35,
 48,
 63,
 80,
 99,
 120,
 143,
 168,
 195,
 224,
 255,
 288,
 323,
 360,
 399,
 440,
 483]

In [9]:
some_list = []
for i in range(40):
    some_list.append(i**2)
some_list

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521]

In [10]:
[i**2 for i in range(40)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521]

In [11]:
some_list = []
for x in range(100):
    if x % 2 == 0:
        some_list.append(x)
some_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [12]:
# One way to create a list of even numbers is with a conditional list comprehension
# the expression is just 'x'
# the element is also 'x'
# the source_list will be 'range(100)'
# the filter_expression is 'x % 2 == 0'

even_numbers = [x for x in range(100) if x % 2 == 0]
even_numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [13]:
# ternary operator
'Output if true' if 2==2 else 'Output if false'

'Output if true'

In [22]:
some_number = 3
# if divisible by 3 & 5, return "fizzbuzz", if by 3, return "fizz", if by 5, return "buzz"

In [23]:
if (some_number % 3 == 0) and (some_number % 5 == 0):
    print("fizzBuzz")
else:
    if some_number % 3 == 0:
        print("fizz")
    else:
        if some_number % 5 == 0 :
            print("buzz")

fizz

In [27]:
fizz_or_buzz = "fizzBuzz" if (some_number % 3 == 0) and (some_number % 5 == 0) else "fizz" if some_number % 3 == 0 else "buzz" if some_number % 5 == 0 else None
fizz_or_buzz

'fizz'

In [18]:
'Divisible by 3'  if some_number%3==0 else 'No'

'No'

In [8]:
# We can also use a condition for our expression with an inline if
['Even' if x %2 == 0 else 'Odd' for x in range(20)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [25]:
# Given a list of dictionaries, we can filter them with a list comprehension
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

[candy["name"] for candy in candies if candy['has_nuts'] == False]

['skittles', 'caramello', 'circus peanuts', 'starburst', 'mars bar']

In [21]:
# To make it easier to read, we can just select the name of the candies
[candy['name'] for candy in candies if candy['has_nuts'] == False]

['skittles', 'caramello', 'circus peanuts', 'starburst', 'mars bar']